branches/old/mti/datamodel/src/at/motriv/datamodel/externals/repository.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//at.motriv//repository//1.0//EN
    SYSTEM ID: http://www.motriv.at/dtd/repository/repository.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE repository SYSTEM "repository.dtd">

    <repository>
    ...
    </repository>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT reposirories (respository)*>
<!ATTLIST repositories
    version CDATA #IMPLIED
  >

<!ELEMENT repository (uri|kind+|description*)>
<!ATTLIST repository
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    readOnly (true|false) "true"
    immutable (true|false) "true"
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT uri (#PCDATA)>

<!ELEMENT description (#PCDATA)>
<!ATTLIST description
   xml:lang CDATA #IMPLIED
>
<!--- Put your DTDDoc comment here. -->
<!ELEMENT kind EMPTY>
<!ATTLIST kind
    name (IMAGE|SOUND|PARAMETER|SPARE_PART_INFO|DECODER_DESCRIPTION|DOCUMENT) #REQUIRED
  >

